{% extends 'base.html' %}

{% block title %}
<title>{{ bird.species }} Info</title>
{% endblock %}

{% block content %}
<h1>{{ bird.species }} info:</h1>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ bird.species }}</span>
                <p>Location: {{ bird.location_observed }}</p>
                <p>Date Observed: {{ bird.date_observed }}</p>
                <p>Time of Day: {{ bird.time_observed }}</p>
                <p>Weather: {{ bird.weather }}</p>
                <p>Number Observed: {{ bird.number_observed }}</p>
                <p>Field Notes: {{ bird.field_notes }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'bird_update' bird.id %}">Edit</a>
                <a href="{% url 'bird_delete' bird.id %}">Delete</a>
            </div>
        </div>
        {% for photo in bird.photo_set.all %}
            <img src="{{ photo.url }}" alt="{{ bird.species }}" class="responsive-img card-panel">
        {% empty %}
            <div class="card-panel center-align pink-text">No Photos Uploaded</div>
        {% endfor %}
        <form 
            action="{% url 'add_photo' bird.id %}" 
            method="POST" 
            class="card-panel"
            enctype="multipart/form-data"
        >
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br /><br />
            <input type="submit" value="Upload Photo" class="btn blue">
        </form>
    </div>
    <div class="col s6">
        <form action="{% url 'add_feeding' bird.id %}" method="POST">
            {% csrf_token %} {{ feeding_form.as_p }}
            <input type="submit" class="btn blue" value="Add Feeding" />
          </form>
        <table class="striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            {% for feeding in bird.feeding_set.all %}
            <tr>
              <td>{{feeding.date}}</td>
              <td>{{feeding.get_type_display}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>
<hr />
<div class="row">
    <div class="col s6">
        <h3>{{ bird.species }}'s Nest Materials</h3>
        {% if bird.nest_materials.count %}
        {% for nest_material in bird.nest_materials.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    A {{ nest_material.material.capitalize }} {{ nest_material.item }}
                </span>
                <div class="card-action">
                    <form action="{% url 'remove_assoc_nest_material' bird.id nest_material.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Remove" class="btn blue">
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>{{ bird.species }} doesn't have any nest materials yet 🪹🪶</h5>
        {% endif %}
    </div>
    <div class="col s6">
        <h3>Available Nest Materials</h3>
        {% if nest_materials.count %}
        {% for nest_material in nest_materials %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    A {{ nest_material.material }} {{ nest_material.item }}
                </span>
            </div>
            <div class="card-action">
                <form action="{% url 'assoc_nest_material' bird.id nest_material.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Add" class="btn blue">
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>{{ bird.species }} has all available nest_materials</h5>
        {% endif %}
    </div>
</div>
<script>
    var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  var selectEl = document.getElementById('id_type');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}